
*.class


target/
build/


lib/
libs/


.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath
.metadata/


.DS_Store
Thumbs.db


*.log
*.tmp
*.temp


test-output/
**/test-reports/
**/surefire-reports/
**/failsafe-reports/


.m2/
.gradle/


*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


*.launch
*.swp
*.swo


.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json


*~
\#*\#
*.bak


.Trashes
ehthumbs.db
